---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div
      class="text-2xl w-full font-medium "
    >
      Dariusz Litwiniec
    </div>
  </div>

  <div class="mb-10 text-justify ">
    Hello, I am interested in working or cooperating as a Graphic Designer, Front-end Developer, Programmer. I have appropriate education and many years of professional experience. Graphic design in all its forms is not only my profession but also my passion. I am happy to take on challenges in these areas. In my projects, I pay special attention to lettering and typographic layout. I can work remotely or stationary.
  </div>

  <div class="mb-5">
    <div class="text-2xl w-full font-medium">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Academy of Fine Arts in Warsaw Faculty of Graphics"
      subtitle="Graphic design. Advertising graphics and multimedia"
    />
    
  </div>

  <div class="mb-5">
    <div class="text-2xl w-full font-medium">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Graphic Designer Vermilion advertising agency"
      subtitle=""
    >
    Work as a Graphic Designer in an advertising agency. Designing visual identifications for companies and institutions. Participating in the design of comprehensive advertising campaigns, designing logos, labels, packaging, folders and other advertising materials.
    </TimeLineElement>
    <TimeLineElement
      title="Art Director UnixPrint graphic design and printing studio"
      subtitle="Warsaw"
    >
    Managing a team of graphic designers and technicians responsible for designing and preparing publishing advertising materials for printing. Supervision of publishing projects, technical editing and offset printing supervision.
    </TimeLineElement>
    <TimeLineElement
      title="Advertising and publishing graphics studio DLDESIGN"
      subtitle="Warsaw"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-2xl w-full font-medium">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Diploma of graduation from the Academy of Fine Arts</a>
    </li>
    <li>
      <a href="#" target="_blank"> Diploma of completion of the State Secondary School of Fine Arts</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-2xl w-full font-medium">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>React.js</li>
    <li>Next.js</li>
    
  </ul>
</BaseLayout>
