---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-2xl w-full font-medium mb-5">Projects</div>
  </div>

  <HorizontalCard
    title="Product photography e-Commerce"
    img="/Tomato.jpg"
    desc="Sample photos of products taken with lighting enabling shadowless photography."
    url="https://dldesign.vercel.app/foto"
    badge="Najnowszy"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Warsaw in photos from the 1960s"
    img="/Warsaw.jpg"
    desc="We present amateur photos from the 1960s and 1970s. All photos are protected by copyright."
    url="https://warszawa-olive.vercel.app/"
  />

  <div>
    <div class="text-2xl w-full font-medium mb-5 mt-10">Projects in progress</div>
  </div>

  <HorizontalCard
    title="Warsaw in old photos"
    img="/Warsaw_1.jpg"
    desc="We present amateur photos from the 1960s and 1970s. All photos are protected by copyright. Website created using Webflow technology."
    url="https://warszawa-w-latach-szescdziesiatych.webflow.io/"
    badge="FOSS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Warszawa 1969 widok z PKiN"
    img="/widok.jpg"
    desc="Warszawa 1969 widok z Pałacu Kultury i Nauki"
    url="https://next-carousels.vercel.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 5"
    img="/88.jpg"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
</BaseLayout>
